:host {
  position: relative;
  display: block;
}

.language-select {
  position: absolute;
  right: 0;
  top: 0;
  padding: 7px;
  border-radius: 50%;
  background: lightgrey;
  color: red;
  cursor: pointer;
}

nav {
  display: flex;

  & > a {
    text-decoration: none;
    background: lightgrey;
    border-radius: 5px;
    padding: 5px;
    color: red;
    flex-grow: 1;
    font-size: 1.4em;
    text-align: center;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &.active {
      background: red;
      color: white;
    }
  }
}